[submodule "documan-java21"]
	path = documan-java21
	url = https://github.com/theinhumaneme/documan-java21.git
[submodule "documan-angular-21"]
	path = documan-angular-21
	url = https://github.com/theinhumaneme/documan-angular-22.git
